@import "reset.css";
@import "globalVariables.css"; /* Access variable with  var(--[variable-name]) */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 2rem;
}

hr {
    color: var(--text-color);
    width: 100%;
}

.border-on-all-direct-children > * {
    padding: 1rem;
    border: var(--boarder-width) var(--boarder-style) var(--text-color);
}

.team-in-control {
    background-color: var(--background-color-secondary);
}

.team-stats-mobile {
    font-size: 1.5rem;
    padding: 1rem;
}

.team-stats-desktop {
    display: none;
}

.hover:hover {
    background-color: var(--background-color-secondary);
}

.hidden-answer {
    background-color: black;
}

#main-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

#button-container,
#desktop-center-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#desktop-center-column > * {
    width: 100%;
}

#game-name-teams-and-question {
    display: grid;
    gap: 1rem;
    justify-items: center;
    justify-content: space-between;
    align-items: start;
    grid-template-areas:
        "game-name game-name"
        "between-game-name-and-team-stats between-game-name-and-team-stats"
        "team-1-stats team-2-stats"
        "between-team-stats-and-question between-team-stats-and-question"
        "question question";
}

#game-name {
    grid-area: game-name;
}

#between-game-name-and-team-stats {
    grid-area: between-game-name-and-team-stats;
}

#team-1-mobile {
    grid-area: team-1-stats;
}

#team-2-mobile {
    grid-area: team-2-stats;
}

#between-team-stats-and-question {
    grid-area: between-team-stats-and-question
}

#question {
    grid-area: question;
}

#round-stats {
    display: flex;
    justify-content: space-around;
}

#answer-grid {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#answer-grid > div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    /* so that unanswered answers are the same height for players when there is no text */
    min-height: 4.5rem;
}

#answer-grid > div:nth-child(2n) {
    /* resetting all borders to 0 px with the style and color we want */
    border: 0px var(--boarder-style) var(--text-color);
    /* then adding the top and bottom borders we want */
    border-top-width: 2px;
    border-bottom-width: 2px;
}

#button-container {
    border: 0px none var(--background-color);
    padding: 0px;
}

@media (min-width: 992px) {
    #main-grid {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "team-1-desktop desktop-center-column team-2-desktop"
                              "button-container button-container button-container";
        align-items: start;
    }
    
    .mobile-only {
        display: none;
    }

    .selected-player {
        border: var(--boarder-width) var(--boarder-style) var(--text-color);
    }

    .team-stats-desktop {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        border: var(--boarder-width) var(--boarder-style) var(--text-color);
    }

    #team-1-desktop {
        grid-area: team-1-desktop;
    }

    #team-2-desktop {
        grid-area: team-2-desktop;
    }

    #game-name-teams-and-question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #button-container {
        flex-direction: row;
        grid-area: button-container;
        justify-content: space-around;
    }
}