@import "reset.css";
@import "globalVariables.css"; /* Access variable with  var(--[variable-name]) */

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.team-stats-mobile {
    font-size: 1.5rem;
}



#main-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas: "game-name game-name"
                         "team-1-status team-2-status";
}

#game-name {
    grid-area: game-name;
}

#team-1-mobile {
    grid-area: team-1-stats
}

#team-2-mobile {
    grid-area: team-2-stats
}